body {
  background-image: url('logo.png');
  background-repeat: repeat;
  background-size: 80px;
/* Credit to https://codepen.io/jamesbarnett/pen/kfmKa */
.marquee {
  height: 150px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: auto;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee h1 {
  float: left;
  width: 50%;
  animation: nice 10s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
}
